<script src="/js/materialize.js"></script>
<script src="/js/materialize.min.js"></script>
<script src="/scripts/check.js"></script>

<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <!--<h1 class="header center orange-text">Skim.py</h1>-->
        <div class="header center">
        <img src="/logo/logo.png">
            </div>
        <div class="row center">
            <p style="font-size:1.40rem;margin-bottom:0;" class="header col s12 light">Write the URL you want to shorten</p>
            <p style="font-size:1.10rem;margin:0;" class="header col s12 light">You can write a custom one if you want</p>
        </div>
    </div>
</div>
<br>
<form class="form-horizontal" role="form" ng-submit="createUrl()">
    <div class="card-panel" style="margin-top:0;">
        <div class="input-field col s6">
            <input type="text" id="nome" ng-model="URL.longURL">
            <label for="nome">Write URL</label>
        </div>
        <div class="input-field col s6">
            <input type="text" maxlength="30" id="nomeCustom" ng-model="URL.customURL">
            <label for="nomeCustom">Write custom short URL</label>
        </div>
        <br>

        <div>
            <div style="display: inline-block;vertical-align: middle;">
                <button style="height: 50px;padding-left: 20px;padding-right: 15px" type="submit" href="#!"
                        class="btn btn-default orange darken-4"
                        onclick="Materialize.showStaggeredList('#url-card')">Shorten >
                </button>
            </div>
            <div id="url-card" style="margin-top:7px;visibility: hidden; display: inline-block;vertical-align: middle;"
                 class="right">
                <ul style="margin:0;">
                    <li style="transform: translateX(0px); opacity: 1;">
                        <div class="left-align"
                             style="display:inline-block;font-size:1.64rem;vertical-align: middle;margin-left:30px">
                            <a id="shortLinkLabel" target="_blank" ng-href="{{URL.short}}" id="shortLabel" type="text"
                               ng-model="URL.short">
                                {{URL.short}}
                            </a>
                        </div>
                        <div class="right" style="display:inline-block;vertical-align: middle;margin-left: 20px">
                            <a ng-href="{{requestStatistics}}" id="buttonStatistics" style="visibility: hidden"
                               class=" btn-floating btn-medium waves-effect waves-light orange darken-4">
                                <i class="material-icons">equalizer</i>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</form>