<script src="/js/materialize.js"></script>
<script src="/js/materialize.min.js"></script>

<div class="container">
    <div class="center">
        <h1 class="header center orange-text">Redirecting..</h1>
        <br>

        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-red-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<label type="text" class="URL_longURL" ng-model="LUNGO"> {{LUNGO}} </label>